/* Utilidades Generales */
:root {
  --main-color: #197F5B;
  --secundary-color: #EF9919;
  --white1-color: #F9F5F2;
  --white2-color: #FFFFFF;
  --last-color: #F9F5F2;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


header {
  width: 100%;
  background-image: url('./imag/Estructura\ home\ desktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
  position: relative;
  background-position: center;
}

header .name {
  color: #EF9919;
}

header .container-photo {
  position: relative;
  width: 250px;
  margin-top: 4rem;
}

header .container-photo .box {
  position: absolute;
  background-color: var(--white2-color);
  border-radius: 1rem;
  padding: 10px 4px;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 24%);
}

header .container-photo .box-top {
  top: 1rem;
  left: -2rem;
}

header .container-photo .box-bottom {
  bottom: 1rem;
  right: -2rem;
}

header .container-photo .box p {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

header .icons-socials {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

header .icons-socials .icon {
  background-color: var(--white2-color);
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon-menu {
  display: none;
}

.icon-menu img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(151deg) brightness(107%) contrast(105%);
  width: 35px;
  cursor: pointer;
}



/* barra de navegación */

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding-right: 1rem;
}

nav>a {
  color: var(--white2-color)
}

nav>a:hover {
  color: var(--secundary-color);
}

nav {
  height: 100px;
}

a {
  text-decoration: none;
}


/* Resto del header */

.colorFont {
  color: var(--white2-color);
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  z-index: 9;
}

h1 {
  color: white;
}

.image {
  width: 100%;
  border-radius: 60px;
}

/* main */


main {
  width: 100%;
  margin: 0 auto;
}

main section {
  width: 80%;
  margin: 4rem auto !important;
}

.about-me h2 {
  margin-bottom: 1rem;
}

.about-me .description {
  border-left: 0.5rem solid var(--main-color);
  padding-left: 2rem;
}

.about-me>button {
  display: block;
  margin: 0 auto;
  background-color: var(--main-color);
  color: #FFFFFF;
  border: 0;
  border-radius: 20px;
  padding: 4px 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4px;
}

.about-me>button img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(151deg) brightness(107%) contrast(105%);
}

.about-me .container-cards {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;

}

.about-me .card {
  background-color: var(--last-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 40%;
}

.about-me .card img {
  height: 5rem
}

.about-me .card p,
.about-me .card h3 {
  margin: 0;
}

.about-me .card .date {
  font-size: 12px;
}

/* Habilities */

.my-habilities .hability .title {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.my-habilities .hability .title span {
  font-size: 12px;
}

.my-habilities .hability .title h5 {
  margin: 0;
}

.my-habilities .hability .bar {
  height: 0.8rem;
  background-color: #80808033;
  border-radius: 1rem;
  width: 100%;
}

.my-habilities .hability .bar .bar-progress {
  height: 100%;
  background-color: var(--main-color);
  border-radius: 1rem;
}

/* experience */

.experience {
  padding: 2rem 5%;
  background-color: var(--white1-color);
  width: 100%;
  margin: 2rem 0;
}

.experience .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.experience .container .contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.experience .container .contain img {
  height: 50px;

}

.experience .container .contain h5 {
  height: 50px;
  margin: 0;
}

.experience .container .contain span {
  text-align: center;
  font-size: 14px;
}


/* portfolio */

.portfolio {
  margin: 1rem auto;
}

.portfolio .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.portfolio .container img {
  width: 100%;
  max-height: 320px;
}

/* Contact */

.contact {
  width: 50%;
  margin: 2rem auto;
}

.contact .container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  gap: 40px;
}

.contact .container .contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.contact .container .contain div {
  border-radius: 50%;
  background-color: #e7e7e7;
  padding: .6rem;
}

.contact .container .contain h4 {
  margin: 0;
}

/* Footer */

footer {
  background-color: var(--main-color);
  padding: 1.5rem;
  text-align: center;
  color: var(--white1-color);
}

footer h3 {
  margin: 0;
  margin-bottom: .3rem;
}

footer span {
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .icon-menu {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    padding-top: 1rem;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white1-color);
    position: fixed;
    top: 0;
    left: 100%;
    width: 35%;
    height: auto;
    z-index: 99;
    padding: 1rem;
    border-radius: 0 0 0 1rem;
    box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, .24);
    transition: 0.5s left;
  }

  header .bg {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    display: none;
  }

  header .bg-active {
    display: inline-block;
  }

  .nav-active {
    left: 65%;
    transition: 0.5s left;
  }

  .nav a {
    color: black;
  }

  .about-me .card {
    text-align: center;
  }

  .portfolio .container img {
    max-height: 100px;
  }

  .contact .container .contain {
    text-align: center;
  }
}